
body {
  background-color: #efefef;
}

.panel {
  background-color: #fff;
  box-shadow: 1px 1px 10px #999;

}
.panel.padded {
  padding: .5rem;
}

.form-element {
  margin-bottom: 1rem;
}


/* structure */

.top {
  margin-top: 1rem;
}

section {
  margin-bottom: 2rem;
}

/* vue.js */

[v-cloak] {
  display: none;
}
