<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>section 1 | vue.js | JavaScriptMN</title>

<link rel="stylesheet" href="/resources/foundation/css/foundation.css">
<link rel="stylesheet" href="/resources/css/styles.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

<header class="top">
</header>

<section>
<div class="row">
<div class="columns large-12">
<div class="panel padded">


  <div id="example-1" v-cloak>

    <h2>Example 1</h2>

    <div class="form-element">
      <label>
        Name:
        <input type="text" name="name" v-model="name">
      </label>
    </div>

    <div class="form-element">
      <label v-if="name">
        Age:
        <input type="number" min="0" max="121" v-model="age">
      </label>
    </div>

    <div class="output" v-if="name && age">
      <h5>Output</h5>
      <p>
        {{name}} is {{age}} years old.
      </p>
    </div>

  </div>


</div>
</div>
</div><!-- row -->
</section>

<section>
<div class="row">
<div class="columns large-12">
<div class="panel padded">


  <div id="example-2" v-cloak>

    <h2>Example 2</h2>

    <form v-on:submit.prevent="addTodo">
      <div class="form-element">
        <label>
          Todo Entry:
          <input type="text" name="name"
            v-model="todo"
            >
        </label>
      </div>
    </form>

    <div class="output">
      <h5>Todos</h5>

      <ul v-if="todos.length > 0">
        <li v-for="todo in todos">
          {{todo}} - <a href="#" v-on:click.prevent="removeTodo(todo)">&times;</a>
        </li>
      </ul>
      <p v-else>
        There is nothing to do.
        <br>
        <a href="#" v-on:click.prevent="magicTodo">Give me a Todo</a>
      </p>
    </div>

  </div>


</div>
</div>
</div><!-- row -->
</section>

<section>
<div class="row">
<div class="columns large-12">
<div class="panel padded">


  <div id="example-3" v-cloak>

    <h2>Example 3</h2>

    <form v-on:submit.prevent="submitForm">

      <div class="form-element">
        <label>
          Input: <input type="text" v-model="form.input" />
        </label>
      </div>

    </form>

  </div>


</div>
</div>
</div><!-- row -->
</section>

<script type="text/javascript" src="/resources/foundation/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/resources/js/vue.js"></script>
<script type="text/javascript" src="/section-1/scripts.js"></script>

</body>
</html>
